body {
    background-image: url("../WhatsApp Image 2025-11-18 at 09.28.27_7c11e266.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;

    /* Create dark overlay */
    position: relative;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);   /* Shadow opacity */
    z-index: -1;
}

/* Main container background */
#headersection,
form {
    background: rgba(255, 255, 255, 0.85);   /* Light white background */
    width: 30%;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}

/* Header styling */
#headersection h1 {
    font-family: cursive;
    margin: 10px 0;
}

/* Input fields */
input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 70%;
}

/* Dropdown */
#dropbox {
    padding: 10px;
    border-radius: 5px;
    width: 45%;
    border: none;
}

/* Button */
#loginbutton {
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    background-color: rgb(255, 134, 47);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#loginbutton:hover {
    background-color: rgb(240, 120, 40);
}
#vote{
      background: rgba(255, 255, 255, 0.85);   /* Light white background */
    width: 25%;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
}


button{
 padding: 10px;
    width: 30%;
    border-radius: 5px;
    background-color: rgb(255, 134, 47);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: rgb(240, 120, 40);

}
#for{
    width: 30%;
}